.about-us {
  background-color: $white;
  padding-bottom: 90px;
  background-image: url("../img/big-triangle.svg"), url("../img/triangle.svg"), url("../img/triangle-rotate.svg"), url("../img/center-triangle.svg");
  background-position-x: 0, 12.77%, right 1.79%, 53.3%;
  background-position-y: 114.1%, 4.81%, 42.2%, 37.8%;
  background-size: 30%, 17.5%, 17.5%, 45.4%;
  background-repeat: no-repeat;

  @media (max-width: $max-tablet-width) {
    padding-bottom: 69px;
    background-image: url("../img/center-triangle.svg");
    background-repeat: no-repeat;
    background-position-x: right -313px;
    background-position-y: bottom 149px;
    background-size: 872px;
  }

  @media (max-width: $max-mobile-width) {
    padding-bottom: 65px;
    background-image: url("../img/center-triangle.svg");
    background-position-x: right -405px;
    background-position-y: bottom 279px;
    background-size: 832px;
  }
}
