.about-us {
  &--wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
  }
}

.about-us__heading {
  @include reset;

  margin-top: 150px;
  font-weight: 600;
  font-size: 2.08vw;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $heading-color;

  @media (max-width: $max-tablet-width) {
    margin-top: 70px;
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
    text-align: center;
  }
}
