.contacts-list {
  @include reset_for_list;
  margin-top: 27px;
  margin-right: 4.8%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 62.3%;

  @media (max-width: $max-tablet-width) {
    margin-top: 12px;
    margin-right: 5px;
    width: 93px;
    justify-content: space-between;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 2px;
    width: 87px;
  }
}

.contacts-list__item {
  @include reset;
  width: 50%;

  @media (max-width: $max-tablet-width) {
    @include reset;
    width: auto;
  }

  @media (max-width: $max-mobile-width) {
    margin-left: 4px;
  }
}

.contacts-list__item:first-child {
  @media (max-width: $max-tablet-width) {
    margin-right: 0;
  }
}

.contacts-list__link {
  display: flex;
  justify-content: flex-start;

  @include reset;
  padding: 10px 5px;
  font-family: "PT Mono", "Arial", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 0.83vw;
  line-height: 18px;
  color: $white;

  @media (max-width: $max-tablet-width) {
    justify-content: center;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 0;
  }

  &:hover {
    color: $sprite-fill;

    .contacts-list__mail-image,
    .contacts-list__phone-image {
      fill: $white;
    }
  }

  span {
    margin-left: 5.2%;

    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }

  &--margin {
    @media (max-width: $max-tablet-width) {
      margin-right: 0;
    }

    span {
      margin-left: 7.2%;
    }
  }
}

.contacts-list__mail-image {
  @media (max-width: $max-tablet-width) {
    @include size(26px, 19px);
  }

  fill: $sprite-fill;

  &--margin {
    margin-top: 2px;
    margin-right: 3px;

    @media (max-width: $max-tablet-width) {
      @include reset;
    }

    @media (max-width: $max-mobile-width) {
      margin-right: 1px;
    }
  }
}

.contacts-list__phone-image {
  margin-right: 3px;

  @media (max-width: $max-tablet-width) {
    @include size(23px, 23px);
    @include reset;
  }

  fill: $sprite-fill;
}
