.contacts-list {
  @include reset_for_list;
  margin-left: auto;
  margin-right: 2.71%;
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  justify-content: flex-end;
  align-content: center;

  @media (max-width: $max-tablet-width) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.contacts-list__item {
  @include reset;
  margin-top: 9px;

  @media (max-width: $max-tablet-width) {
    margin-top: 0;
  }
}

.contacts-list__item:first-child {
  @media (max-width: $max-tablet-width) {
    margin-right: 11px;
  }

  @media (max-width: $max-mobile-width) {
    margin-right: 3px;
  }
}

.contacts-list__link {
  display: flex;
  justify-content: flex-start;

  @include reset;
  margin-top: 18px;
  padding: 10px;
  font-family: "PT Mono", "Arial", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 0.83vw;
  line-height: 18px;
  color: $white;

  @media (max-width: $max-mobile-width) {
    margin-top: 8px;
  }

  &:hover {
    color: $sprite-fill;

    .contacts-list__mail-image,
    .contacts-list__phone-image {
      fill: $white;
    }
  }

  &--margin {
    margin-right: 70px;

    @media (max-width: $max-tablet-width) {
      margin-right: 0;
    }

    span {
      margin-left: 20px;
    }
  }
}

.contacts-list__link span {
  margin-left: 16px;

  @media (max-width: $max-tablet-width) {
    display: none;
  }
}

.contacts-list__mail-image {
  @media (max-width: $max-tablet-width) {
    @include size(26px, 19px);
  }

  fill: $sprite-fill;

  &--margin {
    margin-top: 2px;
    margin-right: 3px;

    @media (max-width: $max-mobile-width) {
      margin-right: 1px;
    }
  }
}

.contacts-list__phone-image {
  @media (max-width: $max-tablet-width) {
    @include size(23px, 23px);
  }

  fill: $sprite-fill;
}
