.logo {
  width: 15%;
  margin-top: 33px;
  margin-left: 13px;
  align-self: center;

  @media (max-width: $max-tablet-width) {
    width: 28%;
    margin-top: 20px;
    margin-left: 10px;
  }

  @media (max-width: $max-mobile-width) {
    width: 48.3%;
    margin-top: 10px;
    margin-left: 11px;
  }
}

.logo__image {
  @media (max-width: $max-mobile-width) {
    width: 147px;
  }
}
