.main-header {
  background-image: url("../img/body-background.png"),
    url("../img/printedboard@1x.png"),
    url("../img/group20.svg");
  background-position: top center, 85.4% calc(391px - 36.719%), 82.5% 118px;
  background-repeat: no-repeat;
  background-color: $promo-background;
  background-size: cover, 36.719%, 35%;

  @media (max-width: $max-tablet-width) {
    background-position: top center, 167.4% calc(240px - 36.719%), 183.6% -40px;
    background-size: cover, 60.5%, 68.85%;
  }

  @media (max-width: $max-mobile-width) {
    background-position: top center, 143.5% calc(248px - 36.719%), left -82% bottom 210px;
    background-size: cover, 94.5%, 158% 74.6%;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/body-background@2x.png"),
      url("../img/printedboard@2x.png");
  }

  .main-header__container {
    width: 75%;
    margin: auto;


    @media (max-width: $max-tablet-width) {
      width: 96%;
    }
  }
}
