.main-navigation {
  &--wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: $max-tablet-width) {
      width: 100%;
      padding: 0;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.main-navigation__logo {
  display: none;

  @media (max-width: $max-tablet-width) {
    display: block;
    margin-top: 25px;
    margin-left: 22px;
  }

  @media (max-width: $max-mobile-width) {
    margin-left: 17px;
  }
}

.main-navigation__button {
  display: none;

  @media (max-width: $max-tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include size(50px, 51px);
    @include btn-reset;
    padding: 10px;
    background-color: $button-background;
    cursor: pointer;
  }
}

.main-navigation__menu {
  display: flex;

  @media (max-width: $max-tablet-width) {
    display: none;
  }
}
