.menu-list {
  position: relative;

  @include reset_for_list;
  padding: 21px 20px;
  padding-right: 24px;
  width: 65%;
  flex-wrap: wrap;
  justify-content: space-between;

  &::before {
    position: absolute;
    content: "";
    bottom: 12px;
    left: 0;

    @include size(100%, 1px);
    background-color: $transparency-white;
  }

  @media (max-width: $max-tablet-width) {
    width: 100%;
    padding: 0;
    margin-top: 48px;
    margin-bottom: 108px;
  }
}

.menu-list__item {
  @include reset;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 30px;
    background-color: $grey-light;
  }
}

.menu-list__link {
  @include reset;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.005em;
  opacity: 0.7;
  color: $basic-white;

  @media (max-width: $max-tablet-width) {
    position: relative;
    display: block;
    padding: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: left;
    color: $button-color;

    &::before {
      position: absolute;
      top: 21px;
      right: 22px;
      content: "";

      @include size(12px, 15px);
      background-image: url("../img/shape.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &:hover {
    color: $button-background;
  }
}
