.popup {
  display: none;

  &--active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: $popup-background;
    z-index: 100;
  }

  &--no-js {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: $popup-background;
    z-index: 100;
  }
}

.popup__wrapper {
  position: fixed;
  top: 51%;
  right: 0;
  bottom: auto;
  left: 0;
  transform: translate(0, -50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  padding: 1.1% 1.037%;
  min-width: 490px;
  width: 25.5vw;
  background-color: $sprite-fill;
}

.popup__heading {
  @include reset;
  margin-top: 9px;
  margin-left: 4.2%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 140.62%;
  color: $white;
}

.popup__description {
  @include reset;

  margin-top: 2.7%;
  margin-left: 4.1%;
  width: 83%;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.popup__close {
  position: absolute;
  top: 9px;
  right: 10px;

  @include btn-reset;
  padding: 10px;
  cursor: pointer;

  svg {
    fill: $white;
  }

  &:hover,
  &:focus {
    svg {
      fill: $social-background;
    }
  }
}


.popup__feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 3.8%;

  input[type="text"],
  input[type="tel"],
  textarea {
    padding: 10px;
    padding-left: 25px;
    color: $white;
    background-color: $input-background;
    border: none;
    border-radius: 0;
  }

  input[type="text"],
  input[type="tel"] {
    margin-top: 7.2%;
    width: 91.8%;
    height: 52px;
    line-height: 44px;
  }

  input[type="tel"] {
    margin-top: 6.8%;
  }

  input {
    &::placeholder {
      padding: 10px;
      font-family: "PT Mono", "Arial", monospace;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: $white;
    }
  }

  textarea {
    margin-top: 6.5%;

    @include size(91.8%, 104px);
    resize: none;

    &::placeholder {
      padding: 11px;
      font-family: "PT Mono", "Arial", monospace;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.01rem;
      color: $white;
    }
  }

  button {
    @include size(91.5%, 47px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include btn-reset;
    margin-top: 6.5%;
    padding: 5px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 0.73vw;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    border: 1px solid $white;
    border-radius: 5px;
    cursor: pointer;


    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  label:last-child {
    position: relative;
    display: block;
    width: 83.4%;
    margin-top: 1.7vw;
    margin-right: 1.9vw;
    padding-left: 2.5vw;
    font-family: "PT Mono", "Arial", monospace;
    font-weight: 400;
    font-size: 0.75vw;
    line-height: 16px;
    color: $white;
    opacity: 0.8;
  }

  input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    @include size(16px, 16px);
    background-image: url("../img/checkbox.svg");
    background-repeat: no-repeat;
  }

  input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    @include size(16px, 16px);
    background-image: url("../img/no-checked.svg");
    background-repeat: no-repeat;
  }

  input[type="checkbox"]:focus + label::before,
  input[type="checkbox"]:hover + label::before {
    cursor: pointer;
    opacity: 0.5;
  }

  div {
    display: flex;
  }

  input[type="checkbox"] {
    margin-top: 24px;
    margin-right: -15px;
    margin-left: 21px;
    opacity: 0;
  }
}
