.services {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 122px;

  @media (max-width: $max-tablet-width) {
    padding-bottom: 78px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $max-mobile-width) {
    padding-bottom: 64px;
  }
}

.services__heading {
  @include reset;
  margin-top: 6.6%;
  margin-left: 6.51%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 1.875vw;
  line-height: 51px;
  color: $white;


  @media (max-width: $max-tablet-width) {
    margin-top: 49px;
    margin-right: 154px;
    width: 613px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $max-mobile-width) {
    align-self: flex-start;
    margin-top: 49px;
    margin-right: 0;
    margin-left: 17px;
    width: 280px;
    font-size: 28px;
    line-height: 39px;
  }
}
