.video {
  background: linear-gradient(to bottom, $basic-black 87.3%, $basic-white 12.7%);

  @media (max-width: $max-tablet-width) {
    background: linear-gradient(to bottom, $basic-black 82%, $basic-white 18%);
  }

  @media (max-width: $max-mobile-width) {
    background: linear-gradient(to bottom, $basic-black 87.6%, $basic-white 12.4%);
  }
}

.video__block {
  &--wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;

    @media (max-width: $max-tablet-width) {
      padding: 0 4px;
    }
  }
}

.video__heading {
  @include reset;
  margin-top: 120px;
  margin-right: 11px;

  font-weight: 600;
  font-size: 2.08vw;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $basic-white;

  @media (max-width: $max-tablet-width) {
    margin-top: 70px;
    margin-right: 0;
    font-size: 24px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 83px;
    margin-right: 14px;
  }
}

.video__description {
  @include reset;

  margin-top: 20px;
  width: 30%;
  font-weight: 300;
  font-size: 1.11vw;
  line-height: 28px;
  letter-spacing: -0.005em;
  color: $basic-white;
  opacity: 0.7;

  @media (max-width: $max-tablet-width) {
    width: 429px;
    font-size: 16px;
  }

  @media (max-width: $max-mobile-width) {
    width: 288px;
  }
}

.video__container {
  position: relative;
  margin-top: 56px;

  @media (max-width: $max-tablet-width) {
    margin-top: 40px;
    width: 69.6%;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 55px;
    margin-right: 2px;
    width: 97%;
  }
}

.video__block button {
  position: absolute;
  top: calc(50% - (68px / 2));
  left: calc(50% - (65px / 2));

  @include btn-reset;
  @include size(65px, 65px);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  background-color: $button-background;
  cursor: pointer;

  @media (max-width: $max-tablet-width) {
    top: calc(50% - (96px / 2));
    left: calc(50% - (91px / 2));

    @include size(91px, 91px);
  }

  @media (max-width: $max-mobile-width) {
    top: calc(50% - (72px / 2));
    left: calc(50% - (64px / 2));

    @include size(65px, 65px);
  }

  &:focus,
  &:hover {
    background-color: $button-background-focus;
  }
}

button img {
  margin-left: 28px;

  @media (max-width: $max-tablet-width) {
    @include size(18px, 25px);

    margin-left: 40px;
  }

  @media (max-width: $max-mobile-width) {
    margin-left: 27px;

    @include size(13px, 18px);
  }
}
