* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
